<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | Code: Impossible a blog by Jared Barboza</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <meta HTTP-EQUIV="Content-Type" content="text/html; charset=utf-8" />

    <link rel="alternate" type="application/rss+xml" title="Jared Barboza's Blog" href="http://codeimpossible.com/atom.xml" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <link rel="shortcut icon" href="https://secure.gravatar.com/avatar/55997cec217233703cbf68b689578771?s=16&v=1">
    <link rel="apple-touch-icon" href="https://secure.gravatar.com/avatar/55997cec217233703cbf68b689578771?s=48">
    <link rel="apple-touch-icon" sizes="72x72" href="https://secure.gravatar.com/avatar/55997cec217233703cbf68b689578771?s=72">
    <link rel="apple-touch-icon" sizes="114x114" href="https://secure.gravatar.com/avatar/55997cec217233703cbf68b689578771?s=114">
  </head>

  <body>
    <div class="body-content-header">
      <header>
        <img src="https://en.gravatar.com/userimage/1755635/8b9f6352afae72e900f3c25ec868eb64.jpeg" />
        <h1>Code: Impossible;</h1>
        <p>by Jared Barboza: Husband, Frag Castle Games founder, Open Source junkie and game-maker. Opinions here are my own.</p>
      </header>
    </div>
    <div class="body-nav">
      <nav class="navbar container" role="navigation">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/archive.html">Archives</a></li>
          <li><a href="/cv.html">Resume</a></li>
          <li><a href="/about.html">About</a></li>
        </ul>
      </nav>
    </div>
    <div class="container">
      <section>
        {{ content }}
      </section>
    </div> <!-- /container -->
    <div class="body-footer">
      <div class="container" style="margin-bottom: 60px;">
        <footer>
          <p class="license">
            <a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/deed.en_US">
              <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nd/3.0/88x31.png" />
            </a><br />
            <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Code: Impossible</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://codeimpossible.com" property="cc:attributionName" rel="cc:attributionURL">Jared Barboza</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/deed.en_US">Creative Commons Attribution-NoDerivs 3.0 Unported License</a>.<br />
            Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="{{ BASE_PATH }}{{ page.url }}" rel="dct:source">Code: Impossible</a>.
          </p>
        </footer>
      </div>
    </div>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9421738-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/js/site.js"></script>

    <!-- adjusted bounce rate via http://drawingablank.me/blog/fix-your-bounce-rate.html -->
    <script type="text/javascript">
      setTimeout( function() {
          _gaq.push(['_trackEvent', '15_seconds', 'read']);
        }, 15000);
    </script>
  </body>
</html>
