<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | Code: Impossible a blog by Jared Barboza</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <meta HTTP-EQUIV="Content-Type" content="text/html; charset=utf-8" />

    <link rel="alternate" type="application/rss+xml" title="Jared Barboza's Blog" href="http://codeimpossible.com/atom.xml" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <script src="//code.jquery.com/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <link rel="shortcut icon" href="https://secure.gravatar.com/avatar/55997cec217233703cbf68b689578771?s=16&v=1">
    <link rel="apple-touch-icon" href="https://secure.gravatar.com/avatar/55997cec217233703cbf68b689578771?s=48">
    <link rel="apple-touch-icon" sizes="72x72" href="https://secure.gravatar.com/avatar/55997cec217233703cbf68b689578771?s=72">
    <link rel="apple-touch-icon" sizes="114x114" href="https://secure.gravatar.com/avatar/55997cec217233703cbf68b689578771?s=114">
  </head>

  <body>
    <section class="well ci-sidebar">
      <header>
        <h1><a href='/' rel='author'>@codeimpossible</a></h1>
      </header>
      <article>
        <a href='/' rel='author'><img class="ci-me" src="https://avatars3.githubusercontent.com/u/176476?s=300" /></a>
        <nav role="navigation">
          <ul class="ci-social-links clearfix">
            <li>
              <a href="https://twitter.com/codeimpossible" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://github.com/codeimpossible" target="_blank"><i class="fa fa-github"></i></a>
            </li>
            <li>
              <a href="https://plus.google.com/u/0/+JaredBarboza/posts" target="_blank"><i class="fa fa-google-plus"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/jaredbarboza" target="_blank"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="http://stackoverflow.com/users/1980/jared" target="_blank"><i class="fa fa-stack-overflow"></i></a>
            </li>
          </ul>
        </nav>
      </artcle>
      <footer>
        <blockquote>&quot;Anything is possible if you have access to a compiler&quot;</blockquote>
      </footer>
    </section>

    <section id="content" class="container-fluid">
      <article class="ci-generated-content">
        {{ content }}
      </article>

      <footer>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <p class="license">
              <a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/deed.en_US">
                <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nd/3.0/88x31.png">
              </a><br>
              <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Code: Impossible</span> by
              <a xmlns:cc="http://creativecommons.org/ns#" href="http://codeimpossible.com" property="cc:attributionName" rel="cc:attributionURL">Jared Barboza</a> is licensed under a
              <a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/deed.en_US">Creative Commons Attribution-NoDerivs 3.0 Unported License</a>. Based on a work at
              <a xmlns:dct="http://purl.org/dc/terms/" href="/index.html" rel="dct:source">Code: Impossible</a>.
              <br>
              <span>Any source code posted on this site that is owned by the author is licensed under the <a href="http://choosealicense.com/licenses/bsd-3-clause/" rel="dct:source">BSD 3-Clause License</a> unless otherwise stated.</span>
            </p>
          </div>
        </div>
      </footer>
    </section>

    <script type="text/javascript">
      var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-9421738-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/js/site.js"></script>
  </body>
</html>
