
<div class="row">
  <section class="col-md-12">
    <header>
      <h2>{{ page.title }}</h2>
      <small>{{ page.date | date_to_long_string }}</small>
    </header>

    <article>
      {{ content }}
    </article>

    <footer class="ci-social">
      <a href="https://twitter.com/codeimpossible" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @codeimpossible</a>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="codeimpossible" data-size="large">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </footer>
    <footer class="ci-comments">
      {% include JB/comments %}
    </footer>
  </section>
</div>
