html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

pre {
  font-size: 16px;
}

* {
  border-radius: 0px!important;
}

.ci-sidebar {
  width: 400px;
  position: fixed;
  top: 0;
  bottom: 0;
  margin-bottom: 0;
}

.ci-sidebar header {
  text-align: center;
  margin-bottom: 20px;
}

.ci-sidebar footer {
  position: absolute;
  bottom: 0;
}

.ci-me {
  margin: 0 auto;
  display: block;
  width: 300px;
  border-radius: 50%!important;
  margin-bottom: 20px;
}

.ci-social-links {
  list-style: none;
}

.ci-social-links li {
  float: left;
  margin: 12px;
  font-size: 48px
}

.ci-generated-content h2 {
  font-size: 22px;
}

.ci-generated-content header h2 {
  font-size: 30px;
}

.ci-generated-content img {
  max-width: 100%;
}

#content {
  margin-left: 400px;
  margin-top: 60px;
}

#content header {
  margin-bottom: 20px;
}

#content footer {
  text-align: center;
}

.ci-search input {
  border-top-left-radius: 50px!important;
  border-bottom-left-radius: 50px!important;
}

.ci-search .btn {
  border-top-right-radius: 50px!important;
  border-bottom-right-radius: 50px!important;
}

@media(max-width: 1199px) {
  /* medium and lower screens */
  .ci-sidebar {
    width: 260px;
  }
  .ci-me {
    width: 180px;
  }
  #content {
    margin-left: 260px;
  }
  .ci-sidebar footer {
    display: none;
  }
  .ci-sidebar header h1 {
    font-size: 28px;
  }
}

@media(max-width: 991px) {
  /* medium and lower screens */
  .ci-sidebar {
    width: 100px;
  }
  .ci-sidebar header {
    display: none;
  }
  .ci-social-links {
    padding-left: 0;
  }
  .ci-me {
    width: 64px;
  }
  #content {
    margin-left: 100px;
    margin-top: 10px;
  }
  .ci-sidebar header h1 {
    font-size: 22px;
  }
}

article > h2 { margin: 30px 0; }
.ci-post-list article > h2 { margin: 10px 0; }

footer {
  margin-top: 40px;
}

.tag_box .tag {
  float: left;
  display: block;
}

.tag_box:after {
  content: "";
  display: table;
  clear: both;
}

.tag {
  background: #ddd;
  padding: 3px 3px 3px 8px;
  border-radius: 14px!important;
  margin-right: 8px;
  margin-bottom: 5px;
}

.tag span {
  background: #336699;
  color: #fff;
  padding: 5px 10px 6px 10px;
  font-size: 10px;
  border-radius: 50% !important;
  margin: 0px -3px 0px 2px;
  position: relative;
  top: -2px;
  border-left: 4px #fff solid;
}

pre { background: #ffffff; border: none; padding: 40px; }
.c { color: #008000 } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #0000ff } /* Keyword */
.cm { color: #008000 } /* Comment.Multiline */
.cp { color: #0000ff } /* Comment.Preproc */
.c1 { color: #008000 } /* Comment.Single */
.cs { color: #008000 } /* Comment.Special */
.ge { font-style: italic } /* Generic.Emph */
.gh { font-weight: bold } /* Generic.Heading */
.gp { font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { font-weight: bold } /* Generic.Subheading */
.kc { color: #0000ff } /* Keyword.Constant */
.kd { color: #0000ff } /* Keyword.Declaration */
.kn { color: #0000ff } /* Keyword.Namespace */
.kp { color: #0000ff } /* Keyword.Pseudo */
.kr { color: #0000ff } /* Keyword.Reserved */
.kt { color: #2b91af } /* Keyword.Type */
.s { color: #a31515 } /* Literal.String */
.nc { color: #2b91af } /* Name.Class */
.ow { color: #0000ff } /* Operator.Word */
.sb { color: #a31515 } /* Literal.String.Backtick */
.sc { color: #a31515 } /* Literal.String.Char */
.sd { color: #a31515 } /* Literal.String.Doc */
.s2 { color: #a31515 } /* Literal.String.Double */
.se { color: #a31515 } /* Literal.String.Escape */
.sh { color: #a31515 } /* Literal.String.Heredoc */
.si { color: #a31515 } /* Literal.String.Interpol */
.sx { color: #a31515 } /* Literal.String.Other */
.sr { color: #a31515 } /* Literal.String.Regex */
.s1 { color: #a31515 } /* Literal.String.Single */
.ss { color: #a31515 } /* Literal.String.Symbol */
