html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

pre {
  font-size: 16px;
}

* {
  border-radius: 0px!important;
}

.ci-sidebar {
  width: 400px;
  position: fixed;
  top: 0;
  bottom: 0;
  margin-bottom: 0;
}

.ci-sidebar header {
  text-align: center;
  margin-bottom: 20px;
}

.ci-sidebar footer {
  position: absolute;
  bottom: 0;
}

.ci-me {
  margin: 0 auto;
  display: block;
  width: 300px;
  border-radius: 50%!important;
  margin-bottom: 20px;
}

.ci-social-links {
  list-style: none;
}

.ci-social-links li {
  float: left;
  margin: 12px;
  font-size: 48px
}

.ci-generated-content h2 {
  font-size: 22px;
}

.ci-generated-content header h2 {
  font-size: 30px;
}

.ci-generated-content img {
  max-width: 100%;
}

#content {
  margin-left: 400px;
  margin-top: 60px;
}

#content header {
  margin-bottom: 20px;
}

#content footer {
  text-align: center;
}

.ci-search input {
  border-top-left-radius: 50px!important;
  border-bottom-left-radius: 50px!important;
}

.ci-search .btn {
  border-top-right-radius: 50px!important;
  border-bottom-right-radius: 50px!important;
}

@media(max-width: 1199px) {
  /* medium and lower screens */
  .ci-sidebar {
    width: 260px;
  }
  .ci-me {
    width: 180px;
  }
  #content {
    margin-left: 260px;
  }
  .ci-sidebar footer {
    display: none;
  }
  .ci-sidebar header h1 {
    font-size: 28px;
  }
}

@media(max-width: 991px) {
  /* medium and lower screens */
  .ci-sidebar {
    width: 100px;
  }
  .ci-sidebar header {
    display: none;
  }
  .ci-social-links {
    padding-left: 0;
  }
  .ci-me {
    width: 64px;
  }
  #content {
    margin-left: 100px;
    margin-top: 10px;
  }
  .ci-sidebar header h1 {
    font-size: 22px;
  }
}
