a.brand img { padding-right: 5px; }
.navbar .nav { padding-top: 5px; }
h1, h2 { line-height: 1em; }
h1 small { text-transform: uppercase; }
h2 { padding-bottom: 1em; color: #bbb;}
body { padding-top: 64px; }
